/* Footer */

.footer-area {
    background-color: #353c42;
    height: 60px;
}

.footer-area .text-area {
    color: #ffffff;
    line-height: 60px;
    text-align: center;
    background: url("../img/footer-logo.png") no-repeat right;
    background-size: 65px;
}


/* Footer END */