/*Style Document*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.test {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    color: blue;
}

body {
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 13px;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

h3 {
    font-size: 14px;
}


/* Header Section */

header {
    height: 120px;
    background-color: #353c42;
    border-bottom: 4px solid #7ac1ff;
}

header .logo {
    padding-top: 35px;
}

header .social-media {
    height: 50px;
    width: 100%;
    text-align: right;
}

header .social-media .fa-brands {
    color: #7ac1ff;
    font-size: 18px;
    margin: 0px 8px;
    padding: 10px;
    padding-top: 30px;
}

header .menu-area {
    height: 66px;
    width: 100%;
    padding-top: 22px;
}

.nav-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: right;
}

.nav-menu li {
    float: left;
    display: table;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 8px;
}

.nav-menu li:nth-last-child() {
    margin-right: 0px;
}

.nav-menu li a {
    display: table-cell;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
}

.nav-menu li a:hover {
    background-color: #7ac1ff;
    color: #353c42;
}

.nav-menu li .active {
    background-color: #7ac1ff;
    color: #353c42;
}